!include suite/rpl/my.cnf

[mysqld.1]
sync_binlog=0
binlog_format=row
smartengine_read_free_rpl_tables="t.*"
slave-exec-mode=strict

[mysqld.2]
sync_binlog=0
binlog_format=row
smartengine_read_free_rpl_tables="t.*"
slave-exec-mode=strict
smartengine_write_buffer_size=16k
smartengine_target_file_size_base=16k
