!include suite/raft_replication/my.cnf

[mysqld]
raft_replication_large_trx=ON
max_allowed_packet=1G
slave_pending_jobs_size_max=1G
slave_parallel_workers=0
slave_max_allowed_packet=1G
raft_replication_max_log_size=1M
raft_replication_large_event_split_size=300k
raft_replication_election_timeout=1000
