# Use settings from rpl_1slave_base.cnf
# add setting to connect the slave to the master by default
!include rpl_1slave_base.cnf
!include include/default_client.cnf

[mysqld.1]
smartengine=1
default_storage_engine=smartengine
smartengine_unsafe_for_binlog=true


[mysqld.2]
smartengine=1
default_storage_engine=smartengine
smartengine_unsafe_for_binlog=true

