!include suite/smartengine_consistent_snapshot/my.cnf

[mysqld]
consistent_snapshot_archive_period=1
consistent_snapshot_expire_auto_purge=  false
binlog_archive_expire_auto_purge=       false
recovery_from_objectstore=  true