# Use default setting for mysqld processes
!include include/default_mysqld.cnf
!include include/default_client.cnf

[mysqld]
smartengine=                1
default-storage-engine=     smartengine
default-tmp-storage_engine= innodb
serverless=                 true
log-bin=                    master-bin
log-bin=                    master-bin.index
plugin-load-add=            mysql_clone.so
consistent_snapshot_archive_period=     1000
consistent_snapshot_expire_auto_purge=  false
binlog_archive_expire_auto_purge=       false
recovery_from_objstore=     true