!include suite/smartengine_consistent_snapshot/my.cnf

[mysqld]
repo_objectstore_id=     'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
consistent_snapshot_smartengine_tar_mode='TAR'
consistent_snapshot_innodb_tar_mode='TAR'
