# Use default setting for mysqld processes
!include include/default_mysqld.cnf
!include include/default_client.cnf

[mysqld]
smartengine=                1
default-storage-engine=     smartengine
default-tmp-storage_engine= innodb
cluster_objectstore_id=     'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'