# Use settings from rpl_1slave_base.cnf
# add setting to connect the slave to the master by default
!include rpl_1slave_base.cnf
!include include/default_client.cnf


[mysqld]
gtid_mode=off
enforce-gtid-consistency=off
smartengine=1
default_storage_engine=smartengine

[mysqld.1]
default_storage_engine=smartengine
smartengine=1
smartengine_unsafe_for_binlog=true

[mysqld.2]
default_storage_engine=smartengine
smartengine=1
smartengine_unsafe_for_binlog=true

